%link-reset {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

/**
/* ====================
/* Variables de colores
/* ====================
*/
$elColor1: #D83976; /*para deportes*/
$elColor2: #636450;
$elColor3: #D83976; /*#feca17;*/
$elColor4: #2e4c8f;
$elColor4Claro: #6239AA; /*para deportes*/
$elColor5: #D83976; /* #dd3b30;*/